<% content_for :title do %>PEJ | about<% end %>
<% content_for :body_class, "pj_about" %>
    <div id="wrapper">
        <!-- Sidebar -->
        <%= render "sidebar" %>
         <!-- Page Content -->
		<div class="icon-menu">
			<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
			<i class="fa fa-bars"></i>
			Menu
			</a>
		</div>


    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
