<% content_for :title do %>resume<% end %>
<% content_for :body_class, "pj_about" %>
    <div id="wrapper">
        <!-- Sidebar -->
         <%= render "sidebar" %>
         <!-- Page Content -->
		<div class="icon-menu">
			<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
			<i class="fa fa-bars"></i>
			Menu
			</a>
		</div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-112 resume_content">
                     	<h1>Resume</h1>
                        <div class="panel-group" id="accordion">
						    <div class="panel panel-default" id="panel2">
						        <div class="panel-heading btn btn-default">
						             <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseTwo"
						           href="#collapseTwo" class="collapsed">
						          	Professional Summary
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseTwo" class="panel-collapse collapse">
						            <div class="panel-body">
Analyze, Manage, Test, Communicate, Develop, Improve, Contribute, Motivate, Compile, Deliver
                          <br>
                          Authentic and detail-driven out of the box thinker; artistically and statistically focused; adept at
comprehending complex developmental code and software.  Quick learner, comfortable in multi-project deadline-driven environments and fast-paced product delivery.  Excellent interpersonal, written and verbal communicator.  Solid individual performer and positive trustworthy team contributor.</div>
						        	</div>
						    	</div>
						    </div>

						    <div class="panel panel-default" id="panel3">
						        <div class="panel-heading btn btn-default">
						            <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseThree"
						           href="#collapseThree" class="collapsed">
						          	Competencies
						        	</a>
						        	</h4>
						        </div>
						        <div id="collapseThree" class="panel-collapse collapse">
						            <div class="panel-body">
							            <ul>

							            	<li>Agile Development (scrum, scrumban)</li>
							            	<li>Python Django</li>
							            	<li>Process Improvement</li>
							            	<li>Multi-platform testing (Web, iOS, Android)</li>
							            	<li>RESTful web services</li>
							            	<li>SQL / SQL Server Management Studio (SSMS)</li>
							            	<li>SAAS</li>
							            	<li>Developer Tools</li>
							            	<li>Vagrant / VirtualBox</li>
							            	<li>Salesforce</li>
							            	<li>End to end project life cycle</li>
							            	<li>Atlassian Toolkit (Jira, Confluence...)</li>
							            	<li>LAMP / XAMPP</li>
							            	<li>Unix, Linux (ubuntu, mint, etc.)</li>
                              <li>HTML5 / CSS3 / JQuery</li>
  							            	<li>PHP Laravel</li>
							            </ul>
						            </div>
						        </div>
						    </div>
						     <div class="panel panel-default" id="panel4">
						        <div class="panel-heading btn btn-default">
						             <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseFour"
						           href="#collapseFour" class="collapsed">
						          	Professional Experience
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseFour" class="panel-collapse collapse">
						            <div class="panel-body">
                          <h3>HotSchedules – Austin, TX </h3>
										<h4>Quality Assurance Engineer (10/2015 to Present)</h4>
										<p>Best of breed SAAS with a range of products serving the food and hospitality market.
• Multiple browser UX/UI and functional testing to verify new feature development and bug fixes are 	implemented to the user's acceptance criteria and without regression.
• Load testing functional behavior and measuring performance with Apache Jmeter highlighting 	opportunities to improve user experience.
• Developing automated test suites using Python, Selenium Remote Control/IDE, and Unit Test to 	increase effectiveness, efficiency, and coverage.
• Manage Test Rail including test case, suite and run creation/maintenance to outline QA 	methodology and report results in an effort to highlighting real time code quality.
• Web Services testing using Postman to ensure front-end development has necessary endpoints.
• Testing Web, iOS, and Android to verify continuity and uncover opportunities to improve cross 	platform UX and functionality.</p>
										<hr/>

						            	<h3>Smartmember, LLC - Austin, TX </h3>
										<h4>App. Support Manager and Quality Assurance Engineer ( 7/2015 to 9/2015)</h4>
										<p>Startup with a suite of products for internet marketing and sales lead generation.
• Developing and implementing application support procedures, communication documentation, and 	escalation flow to streamline processing of users concerns and issues.
• Training and managing offshore application support team (T1) improving customer satisfaction 	by reducing resolution and/or escalation times.
• Working with the CEO and developers to craft a roadmap/timeline for new features and bug fixes to 	harden and improve the product while maximizing available resources.
• Providing T2 support and managing user expectations by applying production database 	configurations using phpMyAdmin and escalating confirmed bugs to development.
•  Manually testing UX, UI and functionality on multiple browsers to ensure new development does not 	introduce regressions and is consistent with the requirements outlined in the Jira ticket.</p>
										<hr/>
										<h3>Q2 eBanking - Austin, TX </h3>
										<h4>Application Support Analyst II - (4/2015 to 6/2015)</h4>
										<p>Industry leader offering virtual banking software on a single platform for regional and community financial institutions.
• Initial contact through resolution managing client experience and expectations while simultaneously 	recording in Salesforce, investigating the db and logs, and researching expected behavior.
• Using Microsoft SSMS to prepare queries, perform db configurations and generate custom reports to 	provide customers with the requested updates or data to influence corporate planning.
• Creating a presentation on metrics, training and on-boarding delivered to upper management 	contributing to process improvement.
• Utilizing console logs and stack traces to resolve problems, escalate to T3 support or forward to the 	appropriate department (data services, web services, product, client services)
• Participating in an intensive hands-on crash course in application support providing invaluable 	understanding of professional and mature processes. </p>
										<hr/>
										<h3>Accenture - Austin, TX	(Contract thru DCS) </h3>
										<h4>Project Management and Operations Analyst	- (8/2014 to 3/2015)</h4>
										<p>Multinational management consulting, technology services, and outsourcing company. Participated in the TMHP project as they transitioned contract from Xerox.
• Supporting leadership in task assignment, process improvement, reporting, and time management.
• Automating forecasting models in Excel using Visual Basic for applications, helping division monitor 	resources and track productivity.
• Managing Databases and HP Project and Portfolio Management software improving data integrity 	and directing resources toward best practices.
• Constructing and programming organizational models using Visio to satisfy contractual obligations 	with the State of Texas.
• Utilizing troubleshooting skills to resolve end user questions, configurations, and technical issues.</p>
										<hr/>
										<h3>University of Oxford: Wolfson College - Oxford, UK</h3>
										<h4>Senior Computer Lab Support Technician - (Oct. 2010 – Aug.2011)</h4>
										<p>Oxford's most international and interdisciplinary graduate college.
• Providing technical support, training, and assistance for more than 500 academic staff, students, and 	faculty.
• Configuring and maintaining hardware and software for 50 Mac and PC systems located in the 	computer labs and library.
• Using image deployment software to provide a consistent and quality user experience.
• Working with the conference manager to provide technical support and media services for all 	Conferences and Events.
• Troubleshooting and resolving network conflicts creating a college connected to the university and 	the world.</p>
						        	</div>
						    	</div>
						    </div>
						    <div class="panel panel-default" id="panel2">
						        <div class="panel-heading btn btn-default">
						            <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseFive"
						           href="#collapseFive" class="collapsed">
						          	Other Work Experience
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseFive" class="panel-collapse collapse">
						            <div class="panel-body">
						            	<h3>ACC: Accelerated Programmer Training- Austin, TX</h3>
						            	<h4>Recruiting Specialist II - (7/2014 to 1/2015)</h4>
										<p>The Department of Labor (DOL) and Austin Community College joined forces to develop a flagship competency based education program in accelerated training for programmers (APT). Met with industry leaders and decision makers to foster relationships between Austin’s vibrant technology sector and APT. Represented ACC and the APT program at industry functions, meet-ups and events. Leveraged my natural ability to socialize, network and convey APT's value proposition which lead to a greater market presence, a strengthened pipeline for program graduates, as well as a thick Rolodex for career mentorship, internship or advice with regard to career and program development.</p>
										<hr/>
										<h3>Jones Family Inc.</h3>
										<h4>Family Project Management and Operations Director (SAHD) - (12/2011 - 12/2014)</h4>
										<p>As I stay at home parent my responsibilities included:</p>
											<ul>
												<li>Primary child care duties</li>
												<li>Design and implementation of household operational procedures</li>
												<li>Supervising, training and managing children</li>
												<li>Complaint resolution</li>
												<li>Household bookkeeping and finance management</li>
											</ul>
										<hr/>
										<h3>shadefreemusic.com	- Los Angeles, CA</h3>
										<h4>Commercial Music Producer - (2003 – 2011)</h4>
										<p>Designed and maintained websites using HTML, CSS, JavaScript, PHP and MySQL to create a positive web presence and efficient user interface.  Managing entertainment projects including budgeting, contracting services and product delivery.</p>
										<hr/>

										<h3>Composers John Swihart and Mateo Messina - Los Angeles, CA</h3>
										<h4>Composer’s Assistant (2007 – 2010)</h4>
										<p>(Credits include: Napoleon Dynamite, Juno, How I Met Your Mother, Thank You for Smoking)</p>
										<p>Maintained website using HTML, CSS, JavaScript to improve function/web presence.  Upgraded computer systems and equipment increasing efficiency of workflow and production quality. Created and maintained a database of compositions optimized for search ability.  Increased information security by implementing an automated backup system</p>
						        	</div>
						    	</div>
						    </div>
						    <div class="panel panel-default" id="panel2">
						        <div class="panel-heading btn btn-default">
						             <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseSix"
						           href="#collapseSix" class="collapsed">
						          	Education
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseSix" class="panel-collapse collapse">
						            <div class="panel-body">
						            	<h3>Austin Community College	- Student of Computer Science - Austin, TX</h3>
						            	<ul>
						            		<li>Programming Fundamentals I (Python)</li>
						            		<li>Programming Fundamentals II (C++)</li>
						            		<li>Web Programming (HTML5, CSS3, JavaScript)</li>
						            		<li>UNIX I</li>
						            		<li>Networking Fundamentals</li>
						            	</ul>
						            	<hr/>
										<h3>University of North Texas - Bachelor of Arts in Radio, Television & Film - Denton, TX</h3>
						        	</div>
						    	</div>
						    </div>
						    <div class="panel panel-default" id="panel2">
						        <div class="panel-heading btn btn-default">
						             <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseSeven"
						           href="#collapseSeven" class="collapsed">
						          	Technical Familiarity
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseSeven" class="panel-collapse collapse">
						            <div class="panel-body">
							            <ul>
							            	<li>Object Oriented Programming (OOP)</li>
							            	<li>Relational database (RDBMS):using tools such as LAMP / XAMPP, PHPMyAdmin, MySQL Workbench, and Microsoft SSMS</li>
							            	<li>Agile Development</li>
							            	<li>Front-end UI and UX development / Back-end development</li>
							            	<li>Ajax (Json / XML)</li>
							            	<li>Regular Expressions</li>
							            	<li>Ticket/Project Tracking</li>
							            	<li>SEO, SEM, and semantic indexing strategies</li>
							            	<li>IT, visualization, and networking experience: Virtual Private Networks (VPN), Virtual Private Servers (VPS)</li>
							            	<li>Virtual Machine Construction and Maintenance: VirtualBox, VMWare, etc.</li>
							            	<li>Network administrative expertise: Windows, Mac, UNIX, and Linux:  Ubuntu (Server – with/without Gnome), Debian, Mint, etc.</li>
							            	<li>FTP, SFTP, FTPS, SSH, WinSCP, Putty, Bash, etc.</li>
							            	<li>Windows, Mac, and Linux IDE packages (Dreamweaver, Sublime)</li>
							            	<li>Python Django</li>
							            	<li>PHP Laravel</li>
							            </ul>
						        	</div>
						    	</div>
						    </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div><!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

	</body>
</html>
