
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phillip Emerson Jones</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="pj_about">
    <div id="wrapper">
        <!-- Sidebar -->
         <%= render "sidebar" %>

         <!-- Page Content -->
		<div class="icon-menu">
			<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
			<i class="fa fa-bars"></i>
			Menu
			</a>
		</div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-112 resume_content">
                     	<h1>Resume</h1>
                        <div class="panel-group" id="accordion">
						    <div class="panel panel-default" id="panel2">
						        <div class="panel-heading btn btn-default">
						             <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseTwo"
						           href="#collapseTwo" class="collapsed">
						          	Professional Summary
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseTwo" class="panel-collapse collapse">
						            <div class="panel-body">Authentic and detail-driven out of the box thinker; artistically and statistically focused; adept at comprehending complex developmental code and software.  Quick learner, comfortable in multi-project deadline-driven environments and fast-paced development.  Excellent interpersonal, written and verbal communicator.  Solid individual performer and positive trustworthy team contributor.  Global experience..</div>
						        	</div>
						    	</div>
						    </div>

						    <div class="panel panel-default" id="panel3">
						        <div class="panel-heading btn btn-default">
						            <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseThree"
						           href="#collapseThree" class="collapsed">
						          	Competencies
						        	</a>
						        	</h4>
						        </div>
						        <div id="collapseThree" class="panel-collapse collapse">
						            <div class="panel-body">
							            <ul>
							            	<li>HTML5 / CSS3</li>
							            	<li>PHP Laravel</li>
							            	<li>Agile Development</li>
							            	<li>Python Django</li>
							            	<li>Process Improvement</li>
							            	<li>JavaScript</li>
							            	<li>JQuery</li>
							            	<li>SQL</li>
							            	<li>SQL Server Management Studio (SSMS)</li>
							            	<li>phpMyAdmin</li>
							            	<li>Vagrant</li>
							            	<li>Salesforce</li>
							            	<li>End to end project life cycle</li>
							            	<li>Atlassian products (Jira, Confluence)</li>
							            	<li>LAMP / XAMPP</li>
							            	<li>Unix, Linux (ubuntu, mint, etc.)/li>
							            </ul>
						            </div>
						        </div>
						    </div>
						     <div class="panel panel-default" id="panel4">
						        <div class="panel-heading btn btn-default">
						             <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseFour"
						           href="#collapseFour" class="collapsed">
						          	Professional Experience
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseFour" class="panel-collapse collapse">
						            <div class="panel-body">
						            	<h3>Smartmember, LLC - Austin, TX </h3>
										<h4>QA, Application Support, UX, etc.  - ( 7/2015 to present)</h4>
										<p>In a saas startup I am currently wearing a bunch of hats.  Managing a support team out of the Philippians, providing Tier 2 support,  QA and bug hunting, database administration, contributing to the UX, written content and support material.  Using Atlassian products (Jira and Confluence) for agile development, bug tickets, and task management.  Slack for team communication.  Live Chat for end user live interaction and support ticketing.  Interacting with the mySQL via phpMyAdmin.  Using Laravel on the backend and Angular on the front.</p>
										<hr/>
										<h3>Q2 eBanking - Austin, TX </h3>
										<h4>Application Support Analyst II - (4/2015 to 6/2015)</h4>
										<p>Industry leader in online, mobile banking. Participated in a 3 month immersive crash course on application support. Training from first customer contact through final resolution. Managing client experience and expectations while simultaneously investigating, researching and performing live production environment configurations (junior database administrator). Managed workload and communication via CRM (Salesforce). Investigated issues by reading logs and stack traces. Used SQL Server Management Studio to make queries, configurations and custom reports. Contributed to development operations process improvement by constructing a training/onboarding presentation delivered to upper management.</p>
										<hr/>
										<h3>Accenture - Austin, TX	(Contract thru DCS) </h3>
										<h4>Project Management and Operations Analyst	- (8/2014 to 3/2015)</h4>
										<p>Multinational management consulting, technology services, and outsourcing company. Participated in the TMHP project as they transitioned contract from Xerox. Supported leadership in task assignment, process improvement, reporting, and time management. Automated forecasting models in Excel using Visual Basic for applications, helping division monitor resources and track productivity. Managed Databases and used HP Project and Portfolio Management to direct resources toward best practices. Constructed and programmed organizational models using Visio to satisfy contractual obligations with the State of Texas. Utilized troubleshooting skills to resolve end user questions, configurations, and technical issues.</p>
										<hr/>
										<h3>University of Oxford: Wolfson College - Oxford, UK</h3>
										<h4>Senior Computer Lab Support Technician - (Oct. 2010 – Aug.2011)</h4>
										<p>Provided technical support, training, and assistance for more than 500 academic staff students, and faculty in a computer lab environment.  Used HTML, CSS, JavaScript, and Jquery to manage website increasing user experience.  Upgraded, configured and maintained hardware/software for 50 heavily used Mac and PC systems.</p>
						        	</div>
						    	</div>
						    </div>
						    <div class="panel panel-default" id="panel2">
						        <div class="panel-heading btn btn-default">
						            <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseFive"
						           href="#collapseFive" class="collapsed">
						          	Other Work Experience
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseFive" class="panel-collapse collapse">
						            <div class="panel-body">
						            	<h3>ACC: Accelerated Programmer Training- Austin, TX</h3>
						            	<h4>Recruiting Specialist II - (7/2014 to 1/2015)</h4>
										<p>The Department of Labor (DOL) and Austin Community College joined forces to develop a flagship competency based education program in accelerated training for programmers (APT). Met with industry leaders and decision makers to foster relationships between Austin’s vibrant technology sector and APT. Represented ACC and the APT program at industry functions, meet-ups and events. Leveraged my natural ability to socialize, network and convey APT's value proposition which lead to a greater market presence, a strengthened pipeline for program graduates, as well as a thick Rolodex for career mentorship, internship or advice with regard to career and program development.</p>
										<hr/>
										<h3>Jones Family Inc.</h3>
										<h4>Family Project Management and Operations Director (SAHD) - (12/2011 - 12/2014)</h4>
										<p>As I stay at home parent my responsibilities included:</p>
											<ul>
												<li>Primary child care duties</li>
												<li>Design and implementation of household operational procedures</li>
												<li>Supervising, training and managing children</li>
												<li>Complaint resolution</li>
												<li>Household bookkeeping and finance management</li>
											</ul>
										<hr/>
										<h3>shadefreemusic.com	- Los Angeles, CA</h3>
										<h4>Commercial Music Producer - (2003 – 2011)</h4>
										<p>Designed and maintained websites using HTML, CSS, JavaScript, PHP and MySQL to create a positive web presence and efficient user interface.  Managing entertainment projects including budgeting, contracting services and product delivery.</p>
										<hr/>

										<h3>Composers John Swihart and Mateo Messina - Los Angeles, CA</h3>
										<h4>Composer’s Assistant (2007 – 2010)</h4>
										<p>(Credits include: Napoleon Dynamite, Juno, How I Met Your Mother, Thank You for Smoking)</p>
										<p>Maintained website using HTML, CSS, JavaScript to improve function/web presence.  Upgraded computer systems and equipment increasing efficiency of workflow and production quality. Created and maintained a database of compositions optimized for search ability.  Increased information security by implementing an automated backup system</p>
						        	</div>
						    	</div>
						    </div>
						    <div class="panel panel-default" id="panel2">
						        <div class="panel-heading btn btn-default">
						             <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseSix"
						           href="#collapseSix" class="collapsed">
						          	Education
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseSix" class="panel-collapse collapse">
						            <div class="panel-body">
						            	<h3>Austin Community College	- Student of Computer Science - Austin, TX</h3>
						            	<ul>
						            		<li>Programming Fundamentals I (Python)</li>
						            		<li>Programming Fundamentals II (C++)</li>
						            		<li>Web Programming (HTML5, CSS3, JavaScript)</li>
						            		<li>UNIX I</li>
						            		<li>Networking Fundamentals</li>
						            	</ul>
						            	<hr/>
										<h3>University of North Texas - Bachelor of Arts in Radio, Television & Film - Denton, TX</h3>
						        	</div>
						    	</div>
						    </div>
						    <div class="panel panel-default" id="panel2">
						        <div class="panel-heading btn btn-default">
						             <h4 class="panel-title">
						        	<a data-toggle="collapse" data-target="#collapseSeven"
						           href="#collapseSeven" class="collapsed">
						          	Technical Familiarity
						        	</a>
						      		</h4>
						        </div>
						        <div id="collapseSeven" class="panel-collapse collapse">
						            <div class="panel-body">
							            <ul>
							            	<li>Object Oriented Programming (OOP)</li>
							            	<li>Relational database (RDBMS):using tools such as LAMP / XAMPP, PHPMyAdmin, MySQL Workbench, and Microsoft SSMS</li>
							            	<li>Agile Development</li>
							            	<li>Front-end UI and UX development / Back-end development</li>
							            	<li>Ajax (Json / XML)</li>
							            	<li>Regular Expressions</li>
							            	<li>Ticket/Project Tracking</li>
							            	<li>SEO, SEM, and semantic indexing strategies</li>
							            	<li>IT, visualization, and networking experience: Virtual Private Networks (VPN), Virtual Private Servers (VPS)</li>
							            	<li>Virtual Machine Construction and Maintenance: VirtualBox, VMWare, etc.</li>
							            	<li>Network administrative expertise: Windows, Mac, UNIX, and Linux:  Ubuntu (Server – with/without Gnome), Debian, Mint, etc.</li>
							            	<li>FTP, SFTP, FTPS, SSH, WinSCP, Putty, Bash, etc.</li>
							            	<li>Windows, Mac, and Linux IDE packages (Dreamweaver, Sublime)</li>
							            	<li>Python Django</li>
							            	<li>PHP Laravel</li>
							            </ul>
						        	</div>
						    	</div>
						    </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div><!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

	</body>
</html>
