// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media only screen and (max-device-width: 480px) {
    background: #000 image-url('mountain_small.jpeg')center center;
}
.contact_body, .contact_html {
  height: 100%;
  margin: 0px;
  padding: 0px;

  //background-color: #495A6B;

}

.full_height {
  height: 100%
}

.jumbotron-1 {
    position: relative;
    background: #000 image-url('mountain.jpg')center center;
    //width: 100%;
    //height: 850px;
    background-size: cover;
    overflow: hidden;

}
.jumbotron-3 {
    position: relative;
    background: #000 image-url('bluewall.jpg') center center;
    //width: 100%;
    //height: 850px;
    background-size: cover;
    overflow: hidden;

}

.jumbo-h1 {
  padding-top: 50px
}
.about-pic {
  padding-top: 100px;
  border-radius: 100%;
}
.about-arrow {
  position: absolute;
  right: 50%;
  bottom: 0;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar li { color: #000 }
.jumbotron-2 {
    margin-top: -29px;
    position: relative;
    background: #000 image-url('apartments.jpg') center center;
    width: 100%;
    height: 850px;
    background-size: cover;
    overflow: hidden;
}
.portfolio {
  padding-top: 20px;
  font-size: 50px;
}
.portfolio-img {
  height: 250px;
  width: 250px;
}
.portfolio-img1 {
    height: 250px;
    width: 250px;
    background: #000 url("http://gdriv.es/pjimg/01.jpg");
    color: black;
    padding-top: 20px;
    padding-left: 10px;
    font-family: monospace;
}
.portfolio-img2 {
  height: 250px;
  width: 250px;
  background: #000 url("http://gdriv.es/pjimg/02.jpg");
  color: black;
  padding-top: 20px;
  padding-left: 10px;
  font-family: monospace;
}

.contact_form {
    padding-top: 90px;
}
.email_error {
  opacity: 0.6;
  background: rgba(255, 0, 0, 0.3);
  color: black;
  padding-left: 20px;
  border-radius: 5px;
}
