// // Place all the styles related to the Messages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.truncate {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.has-tooltip{
  cursor: pointer;
}
// .top-buffer-top{
//   margin-top:5px;
//   margin-right:20px;
// }
// .top-buffer {
//   margin-top:5px;
//   margin-right:20px;
// }
// .bottom-buffer-index{
//   margin-top:5px;
//   margin-right:10px;
//   margin-bottom: 5px;
// }
// .top-buffer-index {
//   margin-top:5px;
//   margin-right:10px;
// }
//
// .top-buffer-index-top {
//   margin-top:5px;
//   margin-right:10px;
// }

.show-icon {
  margin-top: 5px;
  margin-right: 10px;
}
.edit-icon {
  margin-top: 5px;
  margin-right: 10px;
}
.delete-icon {
  margin-top: 5px;
  margin-right: 10px;
}
.create-icon {
  margin-top: 5px;
  margin-right: 10px;
}

 .comment_show {
   margin-left: 10px;
 }

 .comment_show_top {
   margin-top: 10px;
 }

.comment_btn {
  margin-left: 10px;
}
.blog_entry_top {
  padding-top: 10px;
}
.blog_entry_box {
  padding-left: 10px;
}
