// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date_field {
  margin-left: 10px;
}
.time_field {
  padding-top: 10px;
}
.res_button {
  margin-top: 10px;
  margin-left: 10px;
}

 .reservation_body {
  background-color: #D6E2EF;

  //#000 image-url('cork.jpg')center center;

}
.reservation_container {
  background-color: #AAC6E2;
}
