// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date_field {
  margin-left: 10px;
}
.time_field {
  padding-top: 10px;
  margin-left: 10px;
}
.res_button {
  margin-top: 10px;
  margin-left: 10px;
}

 .reservation_body {
  //background-color: #AAC6E2;

  background: #000 image-url('cork.jpg')center center;

}
.reservation_container {

  border-radius: 5px;
}

.reservation_jumbo {

}
.reservation_table {
  background-color: #D6E2EF;
  border-collapse: separate;
  border-spacing: 0;
}
 .reservation_table, td {
   border-radius: 5px;
   -moz-border-radius: 5px;
   padding: 5px;
 }
.todo_nav {
  margin-top: -1px;
}
