// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.has-tooltip{
  cursor: pointer;
}
.top-buffer {
  margin-top:20px;
  margin-right:20px;
}
