// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.has-tooltip{
  cursor: pointer;
}
.top-buffer {
  margin-top:20px;
  margin-right:20px;
}
.top-buffer-index-top {
  margin-top:5px;
  margin-right:10px;
}

.top-buffer-index {
  margin-top:10px;
  margin-right:10px;
}
